body{
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
align-items: center;
 background: #f4f6f9;
 overflow-x: clip;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 75%;
    border: #3f4045 solid 1px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(7, 7, 7, 0.5);
}
.x{
  text-align: center;  
}
p{
    font-size: 14px;
    font-weight: 100;
}
h1{
    font-size: 35px;
    margin: 0px;
    font-weight: 200;
    word-spacing: 2px;

}
.edc{
    font-size: 18px;
    margin: 15px;
    color: gray;
    word-spacing: 4px;
    font-weight: 100;
}
.nm{
	width: 2rem;
    fill:gray;
}
.mn{
	border-radius: 5px;
	width: 9rem;
	padding: 5px;
	cursor: pointer;
    border: 1px solid gray;
    background-color: white;
}
.mn:hover{
    background-color: rgb(233, 229, 229);
}
#or{
display: flex;
  width: 100%;
  align-items: center;
  margin: 10px;
  justify-content: center;
}
.we{
    width: 46%;
    border: 0.1px solid rgb(160, 159, 159);
    width: 30%;
}
.df{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.df p{
    color: gray;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
}
.login-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flaxn{
    display: flex;
    align-items: center;
    gap: 10px;}
label{
    font-size: 16px;
    font-weight: 100;
    margin: 8px 0px;
}
input{
    border: 1px solid rgb(201, 199, 199);
    border-radius:3px ;
    padding: 5px;
}
input:focus{
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);

}
.wsx{
    display: flex;
    gap: 13px;
    width: 100%;
} 
.wsx div{
    width: 100%;
}
#name1{
    width: 95%;
}
#name{
    width: 95%;
}
#Email{
    width: 97.8%;
}
.dfx{
    border: 1px solid rgb(201, 199, 199);
    display: flex;
    align-items: center;
    margin: 1rem 0px;
    gap: 5px;
    border-radius: 5px;
}
.bm{
display: flex;
flex-direction: column;
}
.nmm{
    width: 10px;
}
.bt{
background:transparent;
border: none;
cursor: pointer;
transform: rotate(-27deg);
}
#in{
    width: 96%;
border: none;
}
#in:focus{
    outline: none;
}
.km{
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
   background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.km:hover{
    background-color: rgb(61, 55, 55);
}
#cv{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 78%;
    cursor: pointer;
}
.img{
    width: 20px;
}
.yu{
display: flex;
width: 6rem;
    gap: 12px;
}
