body , html{
margin: 0 !important;
padding: 0 !important; 
background-color: #f5f5ff;
direction: rtl;
}
.buk{
	background-color: #673ee5;
	width: 100%;
	padding: 1rem;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
}
*{
	font-size: 20px;
}
h1{
	font-size: 39px;
}
.buk:hover{
	background-color: #482d9b;
}
.br{
	color: #673ee5;
}
.flex{
	display: flex;
	gap: 7px;
}
.login{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	background-color: #f4f5ff;
	width: 100%;
}

input{
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 93%

}
input:focus{
	border: 1px solid red;
	color: red;
	background-color: #090a15;

}
input::placeholder{
	color: rgb(185, 0, 0);
}
input:hover{
	border: 1px solid rgb(7, 207, 90);
}
.login-container{
border:1px solid #d8dae0;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
background-color: white;
height: 34rem;
    width: 20rem;
}
form{
	display: flex;
flex-direction: column;
margin-top: 1rem;
    gap: 2rem;

}
.nm{
	width: 2rem;
}
.mn{
	border-radius: 5px;
	width: 19rem;
	padding: 60px;

}
#bv{
	background-color: #1977f1;
}
form div{
	display: block !important;
	width: 100%;
}
.hj{
	width: 8rem;
    border-bottom: 0.5px solid gray;
}
.df{
	    align-items: center;
		margin-top: 2rem;

}
.kl{
	width: 100%;
}
#cv{
	width: 25px;
	position: absolute;
	top: 38px;
	left: 10px;
	cursor: pointer;
}
#ewd{
	position: relative;
}