img{
    width: 50%;
}
.imgn{
    width: 100%;
    display: flex;
justify-content: center;
}
.qaqa{
animation: ere 1.3s ease;
border: 1px solid rgb(197, 197, 197);
padding: 1rem; 
box-shadow: 5px 5px 10px gray;
    position: relative;
}
.add-to-cart{
cursor:pointer ;
    border-radius: 20px;
    background: transparent;
    padding: 5px 10px;

}
.kj{
    position: relative;

}
.km{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-color: transparent;
}
.km svg{
  width: 25px;
fill:none

}
.km svg:hover{
      fill: black;
}
.liked svg{
    fill: black;
}
.pp{
    font-weight: 100;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;}
h4{
    max-width: 10rem;
}
.add-to-cart:hover{
    background-color: rgb(75, 71, 71);
    color: white;
}
@keyframes ere {
	from{transform: translateX(100%);	}
	to{transform: translateX(0);	}
}